@page
@model mayanBoats.Pages.AtraccionesModel
@{
    ViewData["Title"] = "Atracciones";
}

<div class="container text-center mt-5 table-responsive">
    <table class="table table-bordered align-middle">
        <thead class="table-light">
            <tr>
                <th>Lugar</th>
                <th>Ubicación</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <a href="img/atracciones/BarcoHundido.webp" data-fancybox="gallery">
                        <img src="img/atracciones/BarcoHundido.webp" class="img-fluid rounded" style="width: 620px; height: auto;">
                    </a>
                </td>
                <td><strong>Barco hundido (snorkel)</strong></td>
                <td class="text-start">
                    Entre las costas de Cancun e Isla Mujeres se encuentra el USS Harlequin (AM-365) fue una clase-Admirable dragaminas construido para la Armada de Estados Unidos durante la Segunda Guerra Mundial.
                    Se desempeñó en el Atlántico durante esa guerra.
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <a href="img/atracciones/PlayaNorte.webp" data-fancybox="gallery">
                        <img src="img/atracciones/PlayaNorte.webp" class="img-fluid rounded" style="width: 620px; height: auto;">
                    </a>
                </td>
                <td><strong>Playa Norte</strong></td>
                <td class="text-start">
                    Playa Norte, en Isla Mujeres, Quintana Roo, se conserva como uno de los regalos de la naturaleza disponible para ti es conocida principalmente por sus aguas cristalinas arena que parece talco y un clima húmedo perfecto con uno de los paisajes más iconicos que el caribe mexicano ofrece y de acuerdo con Traveler’s Choice de TripAdvisor ha sido rankeada una vez más como una de las mejores playas en el mundo. Deleita todos tus sentidos en Playa Norte.
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <a href="img/atracciones/ElFarito.webp" data-fancybox="gallery">
                        <img src="img/atracciones/ElFarito.webp" class="img-fluid rounded" style="width: 620px; height: auto;">
                    </a>
                </td>
                <td><strong>Arrecifes el Farito</strong></td>
                <td class="text-start">
                    Es un parque marino natural localizado a solo 1.5 kilómetros de Isla Mujeres, cuenta con un pequeño faro en medio de un espectacular arrecife donde podrás practicar snorkel y admirar la fauna marina, así como visitar la estatua de la Virgen de "El Farito" (Virgen del Carmen).
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <a href="img/atracciones/Garrafon.webp" data-fancybox="gallery">
                        <img src="img/atracciones/Garrafon.webp" class="img-fluid rounded" style="width: 620px; height: auto;">
                    </a>
                </td>
                <td><strong>Garrafón</strong></td>
                <td class="text-start">
                    Parque Garrafón es un parque natural, recreativo y acuático, localizado en Punta Sur en Isla Mujeres Cancun, México. Es conocido mundialmente por su belleza natural y sus increíbles actividades recreacionales para toda la familia.
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <a href="img/atracciones/MuSa.webp" data-fancybox="gallery">
                        <img src="img/atracciones/MuSa.webp" class="img-fluid rounded" style="width: 620px; height: auto;">
                    </a>
                </td>
                <td><strong>Museo</strong></td>
                <td class="text-start">
                    En las aguas del mar caribe de Isla Mujeres encontraras increíbles esculturas a una profundidad de 30 pies, una galería acuática única en el mundo.
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <a href="img/atracciones/PlayaPresidente.webp" data-fancybox="gallery">
                        <img src="img/atracciones/PlayaPresidente.webp" class="img-fluid rounded" style="width: 620px; height: auto;">
                    </a>
                </td>
                <td><strong>Playa presidente</strong></td>
                <td class="text-start">
                    Es considerada la mejor playa de Cancún , paraíso tropical con arenas color marfil y aguas turquesas eléctricas.
                    Enamórese de los más bellos atardeceres mientras se adentra al fascinante paraíso del Caribe Mexicano y relájese en las playas más bonitas del mundo maya.
                </td>
            </tr>
        </tbody>
    </table>
</div>
