@page
@model mayanBoats.Pages.ContactoModel
@{
    ViewData["Title"] = "Contacto";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Mapa -->
            <div class="row">
                <address class="col map-container rounded shadow-sm overflow-hidden p-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7437.688393323717!2d-86.803154!3d21.238026!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2f11be4771f7%3A0xe2645bb6aac70597!2sMarina%20V%26V!5e0!3m2!1ses!2smx!4v1738171096886!5m2!1ses!2smx" style="border:0; width:100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </address>
            </div>
            <!-- Teléfonos y correo -->
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <address class="card no-borde">
                        <div class="card-body text-center">
                            <div class="card-icon mb-3">
                                <i class="fas fa-phone fa-2x text-primary me-3"></i>
                            </div>
                            <div class="card-text mb-1">
                                @* <p class="text-center m-0"><abbr title="Teléfono 1">Tel. 1:</abbr> 614 469 16 32</p> *@
                                <p class="text-center m-0"><abbr title="Teléfono">Tel.:</abbr> 614 142 37 81</p>
                                <p class="text-center m-0"><abbr title="Teléfono USA">USA:</abbr> 1 (346) 363 9082</p>
                            </div>
                        </div>
                    </address>
                </div>
                <div class="col-md-6">
                    <address class="card no-borde">
                        <div class="card-body text-center">
                            <div class="card-icon mb-3">
                                <i class="fas fa-envelope fa-2x text-danger me-3"></i>
                            </div>
                            <div class="card-text mb-1">
                                <a href="mailto:info@mayanboats.com" class="text-center m-0">info@mayanboats.com</a>
                            </div>
                        </div>
                    </address>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label class="form-label fw-bolder" for="nombre">Nombre completo</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre completo">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bolder" for="correo">Correo electrónico</label>
                            <input type="email" class="form-control" id="correo" placeholder="ejemplo@correo.com">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bolder" for="asunto">Asunto</label>
                            <input type="text" class="form-control" id="asunto" placeholder="Escriba el asunto del mensaje">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bolder" for="mensaje">Mensaje</label>
                            <textarea class="form-control" id="mensaje" rows="3" placeholder="Escriba su mensaje aquí"></textarea>
                        </div>
                        <button type="submit" class="btn btn-dark w-100 rounded-pill">Enviar mensaje</button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>
