@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<!-- Carrusel -->
<div class="row mt-5 mb-5">
    <div id="carouselExampleIndicators" class="carousel slide p-0" data-ride="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item carousel-inicio active">
                    <img class="d-block w-100" src="/img/IMG_4371.webp">
                </div>
                <div class="carousel-item carousel-inicio">
                    <img class="d-block w-100" src="/img/inicio53.webp">
                </div>
                <div class="carousel-item carousel-inicio">
                    <img class="d-block w-100" src="/img/IMG_4480.webp">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <!-- Presentación -->
    <div class="row">
        <div class="col">
            <p class="fs-5 mt-3 p-2 text-start mb-0 pb-0">
                Crear experiencias inolvidables explorando los paisajes más paradisíacos del Caribe Mexicano en tus vacaciones soñadas es nuestro objetivo.
            </p>
            <p class="fs-5 mt-3 p-2 text-start mb-0 mt-0 pt-0 pb-0">
                <b>Nizuc</b> Sunseeker de 45" es el epítome de estilo, modernidad y comodidad.
            </p>
            <p class="fs-5 mt-3 p-2 text-start mb-0 mt-0 pt-0 pb-0">
                Ofrecemos un servicio personalizado con itinerarios a tu medida, en esta experiencia gozarás de aventura, privacidad y diversión con la mejor atención.
            </p>
            <p class="fs-5 mt-3 p-2 text-start mt-0 pt-0">
                Mayan Boats una experiencia única.
            </p>
        </div>
    </div>

    <!-- Imágenes -->
    <div class="row">
        <div class="col">
            <div class="image-grid mt-5">
                <div class="row g-3 mb-3">
                    <div class="col-lg-4">
                        <a href="img/inicio/inicio1.webp" data-fancybox="gallery">
                            <img src="img/inicio/inicio1.webp" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="img/inicio/inicio2.webp" data-fancybox="gallery">
                            <img src="img/inicio/inicio2.webp" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="img/inicio/inicio3.webp" data-fancybox="gallery">
                            <img src="img/inicio/inicio3.webp" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="row g-3 mb-3">
                    <div class="col-lg-4">
                        <a href="img/inicio/inicio4.webp" data-fancybox="gallery">
                            <img src="img/inicio/inicio4.webp" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="media/video_nizuc.mp4" data-fancybox="gallery">
                            <video class="img-fluid" loop muted autoplay>
                                <source src="media/video_nizuc.mp4" type="video/mp4">
                                El navegador no puede mostrar el vídeo.
                            </video>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="img/inicio/inicio5.webp" data-fancybox="gallery">
                            <img src="img/inicio/inicio5.webp" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="row g-3 mb-3">
                    <div class="col-lg-4">
                        <a href="img/inicio/inicio7.webp" data-fancybox="gallery">
                            <img src="img/inicio/inicio7.webp" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="img/inicio/inicio8.webp" data-fancybox="gallery">
                            <img src="img/inicio/inicio8.webp" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="img/inicio/inicio9.webp" data-fancybox="gallery">
                            <img src="img/inicio/inicio9.webp" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
