@page
@model mayanBoats.Pages.PaquetesModel
@{
    ViewData["Title"] = "Paquetes";
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <p class="text-start">
                Prepárate para explorar las aguas cristalinas del Caribe y descubrir los hermosos arrecifes de coral mientras practicas el snórquel.
            </p>
            <p class="text-start">
                Nuestro equipo experto de guías turísticos te llevará en una emocionante aventura submarina y te mostrará la belleza de la vida marina en la región.
            </p>
            <p class="text-start">
                Nuestro yate es espacioso y cómodo, diseñado para acomodar hasta 8 personas, así que trae a tus amigos y familiares y únete a nosotros en esta emocionante experiencia. ¡Estamos seguros de que será un día inolvidable lleno de diversión, sol y mar!
            </p>
        </div>
    </div>

    <div class="row">
        <h6 class="titulo">Cortesías:</h6>
        <div class="col-md-4">
            <p class="subtitulo">Snacks</p>
            <ul>
                <li>Fruta</li>
                <li>Papitas y/o frituras</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="subtitulo">Bebidas</p>
            <ul>
                <li>Cervezas</li>
                <li>Hielo</li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="subtitulo">Actividades</p>
            <ul>
                <li>3 Actividades a elegir</li>
                <li>Snorkel</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead class="bg-navbar text-white text-center">
                    <tr>
                        <th class="col-1 align-middle">Horas</th>
                        <th class="col-1 align-middle">Personas</th>
                        <th class="col-1 align-middle">Costo (USD)</th>
                        <th class="col-1 align-middle">Costo Persona Adicional (USD)</th>
                        <th class="col-1 align-middle">Adicional (USD)</th>
                        <th class="col-1 align-middle">Total (USD)</th>
                        <th class="col-1 align-middle"></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>4</td>
                        <td>
                            <input id="per-pq1" class="input-personas form-control form-control-sm w-100 text-center" type="number" max="8" min="4" value="4" />
                        </td>
                        <td id="cst-pq1">500.00</td>
                        <td id="adp-pq1">100.00</td>
                        <td id="adc-pq1"></td>
                        <td id="tot-pq1">500.00</td>
                        <td>
                            <button id="btn-pq1" class="btn btn-primary btn-sm w-100 h-100 text-bold">RESERVAR</button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <input id="per-pq2" class="input-personas form-control form-control-sm w-100 text-center" type="number" max="8" min="4" value="4" />
                        </td>
                        <td id="cst-pq2">650.00</td>
                        <td id="adp-pq2">100.00</td>
                        <td id="adc-pq2"></td>
                        <td id="tot-pq2">650.00</td>
                        <td>
                            <button id="btn-pq2" class="btn btn-primary btn-sm w-100 h-100 text-bold">RESERVAR</button>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            <input id="per-pq3" class="input-personas form-control form-control-sm w-100 text-center" type="number" max="8" min="4" value="4" />
                        </td>
                        <td id="cst-pq3">750.00</td>
                        <td id="adp-pq3">100.00</td>
                        <td id="adc-pq3"></td>
                        <td id="tot-pq3">750.00</td>
                        <td>
                            <button id="btn-pq3" class="btn btn-primary btn-sm w-100 h-100 text-bold">RESERVAR</button>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            <input id="per-pq4" class="input-personas form-control form-control-sm w-100 text-center" type="number" max="8" min="4" value="4" />
                        </td>
                        <td id="cst-pq4">850.00</td>
                        <td id="adp-pq4">100.00</td>
                        <td id="adc-pq4"></td>
                        <td id="tot-pq4">850.00</td>
                        <td>
                            <button id="btn-pq4" class="btn btn-primary btn-sm w-100 h-100 text-bold">RESERVAR</button>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>
                            <input id="per-pq5" class="input-personas form-control form-control-sm w-100 text-center" type="number" max="8" min="4" value="4" />
                        </td>
                        <td id="cst-pq5">950.00</td>
                        <td id="adp-pq5">100.00</td>
                        <td id="adc-pq5"></td>
                        <td id="tot-pq5">950.00</td>
                        <td>
                            <button id="btn-pq5" class="btn btn-primary btn-sm w-100 h-100 text-bold">RESERVAR</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            @* <div class="d-flex justify-content-start ml-auto">
                <button class="btn btn-info btn-sm text-white">Mas alimentos...</button>
            </div> *@
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="text-start mb-1 text-muted">
                * Costos iniciales para 4 personas o menos, expresados en Dólares Americanos.
            </p>
            <p class="text-start mb-1 text-muted">
                ** Impuesto Marina V&V (sólo efectivo): $5 Dólares por persona, niños mayores de 6 años pagan.
            </p>
            <p class="text-start mb-1 text-muted">
                *** No hay reembolsos en caso de cancelación por parte del cliente.
            </p>
        </div>
    </div>
</div>

<!-- Modal reservar -->
<div class="modal fade" id="modalReservar" tabindex="-1" aria-labelledby="modalReservarLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalReservarLabel">Realizar Reservación</h5>
            </div>
            <div class="modal-body">
                <form id="reservaForm">
                    <!-- Información personal -->
                    <h5 class="mb-3">Información Personal</h5>
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label for="nombre" class="form-label">Nombre(s)</label>
                            <input type="text" id="nombre" class="form-control" placeholder="Ingrese su nombre" required>
                        </div>
                        <div class="col-md-4">
                            <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
                            <input type="text" id="apellidoPaterno" class="form-control" placeholder="Ingrese su apellido paterno" required>
                        </div>
                        <div class="col-md-4">
                            <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
                            <input type="text" id="apellidoMaterno" class="form-control" placeholder="Ingrese su apellido materno">
                        </div>
                    </div>
                    <div class="row g-3 mt-3">
                        <div class="col-md-6">
                            <label for="correo" class="form-label">Correo electrónico</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input type="email" id="correo" class="form-control" placeholder="ejemplo@correo.com" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                <input type="tel" id="telefono" class="form-control" placeholder="Ingrese su número" required>
                            </div>
                        </div>
                    </div>
                    <!-- Fecha y hora de reserva -->
                    <h5 class="mt-4">Fecha y Hora</h5>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="datePicker" class="form-label">Fecha</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                <input type="text" id="datePicker" class="form-control datepicker" placeholder="Seleccione una fecha" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="timePicker" class="form-label">Hora</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-clock"></i></span>
                                <input type="text" id="timePicker" class="form-control timepicker" placeholder="Seleccione una hora" required>
                            </div>
                        </div>
                    </div>
                    <!-- Código de descuento -->
                    <h5 class="mt-4">Descuento</h5>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" id="codigoDesc" class="form-control" placeholder="Ingrese un código de descuento">
                            <span id="mensajeDesc" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- Resumen de venta -->
                    <h5 class="mt-4">Resumen</h5>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Precio base:</strong> <span id="precioBase" class="mb-0 fw-bold"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <strong id="personaAdicionalTag">Persona adicional (0):</strong> <span id="personaAdicional" class="mb-0 fw-bold"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Subtotal:</strong> <span id="subtotal" class="mb-0 fw-bold"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Descuento:</strong> <span id="descuentoAplicable" class="mb-0 fw-bold"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <strong>Total:</strong> <strong id="totalDespuesDescuento" class="mb-0 fw-bold"></strong>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarReservar" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="btnConfirmar" class="btn btn-primary">Continuar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal pago PayPal -->
<div class="modal fade" id="modalPaypal" tabindex="-1" aria-labelledby="modalPaypalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPaypalLabel">Realizar Pago</h5>
            </div>
            <div class="modal-body">
                <!-- Resumen de venta
                <h5 class="mt-4">Resumen</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Precio base:</strong> <span id="precioBase" class="mb-0 fw-bold"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong id="personaAdicionalTag">Persona adicional (0):</strong> <span id="personaAdicional" class="mb-0 fw-bold"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Subtotal:</strong> <span id="subtotal" class="mb-0 fw-bold"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Descuento:</strong> <span id="descuentoAplicable" class="mb-0 fw-bold"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <strong>Total:</strong> <strong id="totalDespuesDescuento" class="mb-0 fw-bold"></strong>
                    </li>
                </ul> -->
                <!-- Botón PayPal -->
                <div id="paypal-button-container"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarPaypal" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
