@page
@model mayanBoats.Pages.YateModel
@{
	ViewData["Title"] = "Yate";
}

<div class="row">
    <div class="col">
        <div class="image-grid-lg mt-5">
            <img src="/img/nizuc1.jpg">
            <img src="/img/nizuc2.png">
            <video class="video" loop muted autoplay>
                <source src="media/video20240627.mp4" type="video/mp4">
                El navegador no puede mostrar el vídeo.
            </video>
            <img src="/img/nizuc4.png">
            <img src="/img/nizuc6.png">
            <img src="/img/nizuc5.png">
            <img src="/img/nizuc7.png">
            <img src="/img/nizuc8.png">
            <img src="/img/nizuc9.png">
            <video class="video" loop muted autoplay>
                <source src="media/video.mp4" type="video/mp4">
                El navegador no puede mostrar el vídeo.
            </video>
            <img src="/img/nizuc11.png">
            <img src="/img/nizuc12.png">
        </div>
    </div>
</div>
