@page
@model mayanBoats.Pages.YateModel
@{
	ViewData["Title"] = "Yate";
}

<div class="container-xxl image-grid-lg mt-5 mb-5">
    <div class="row g-3 mb-3">
        <div class="col-lg-4">
            <a href="/img/nizuc1.webp" data-fancybox="gallery">
                <img src="/img/nizuc1.webp" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/img/nizuc2.webp" data-fancybox="gallery">
                <img src="/img/nizuc2.webp" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-4">
            <a href="media/video20240627.mp4" data-fancybox="gallery">
                <video  class="img-fluid" loop muted autoplay>
                    <source src="media/video20240627.mp4" type="video/mp4">
                    El navegador no puede mostrar el vídeo.
                </video>
            </a>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-lg-4">
            <a href="/img/nizuc4.webp" data-fancybox="gallery">
                <img src="/img/nizuc4.webp" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/img/nizuc6.webp" data-fancybox="gallery">
                <img src="/img/nizuc6.webp" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/img/nizuc5.webp" data-fancybox="gallery">
                <img src="/img/nizuc5.webp" class="img-fluid">
            </a>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-lg-4">
            <a href="/img/nizuc7.webp" data-fancybox="gallery">
                <img src="/img/nizuc7.webp" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/img/nizuc8.webp" data-fancybox="gallery">
                <img src="/img/nizuc8.webp" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/img/nizuc9.webp" data-fancybox="gallery">
                <img src="/img/nizuc9.webp" class="img-fluid">
            </a>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-lg-4">
            <a href="media/video.mp4" data-fancybox="gallery">
                <video  class="img-fluid" loop muted autoplay>
                    <source src="media/video.mp4" type="video/mp4">
                    El navegador no puede mostrar el vídeo.
                </video>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/img/nizuc11.webp" data-fancybox="gallery">
                <img src="/img/nizuc11.webp" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-4">
            <a href="/img/nizuc12.webp" data-fancybox="gallery">
                <img src="/img/nizuc12.webp" class="img-fluid">
            </a>
        </div>
    </div>
</div>
